In [1]:
import pandas as pd
from mlxtend.frequent_patterns import fpgrowth, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
data = [
    ['Milk', 'Bread', 'Eggs'],
    ['Milk', 'Bread'],
    ['Milk', 'Diaper', 'Beer', 'Eggs'],
    ['Bread', 'Diaper', 'Beer'],
    ['Milk', 'Bread', 'Diaper', 'Beer'],
    ['Bread', 'Eggs']
]

In [4]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
te_ary

array([[False,  True, False,  True,  True],
       [False,  True, False, False,  True],
       [ True, False,  True,  True,  True],
       [ True,  True,  True, False, False],
       [ True,  True,  True, False,  True],
       [False,  True, False,  True, False]])

In [7]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Beer  Bread  Diaper   Eggs   Milk
0  False   True   False   True   True
1  False   True   False  False   True
2   True  False    True   True   True
3   True   True    True  False  False
4   True   True    True  False   True
5  False   True   False   True  False

In [9]:
freq_itemsets = fpgrowth(df, min_support=0.2, use_colnames=True)

In [10]:
rules = association_rules(freq_itemsets, metric='confidence', min_threshold=0.5)

In [12]:
top_10_rules = rules.sort_values(by='confidence', ascending=False).head(10)
top_10_rules

        antecedents    consequents  antecedent support  ...   jaccard  certainty  kulczynski
20    (Bread, Beer)       (Diaper)            0.333333  ...  0.666667        1.0    0.833333
19  (Bread, Diaper)         (Beer)            0.333333  ...  0.666667        1.0    0.833333
8          (Diaper)         (Beer)            0.500000  ...  1.000000        1.0    1.000000
9            (Beer)       (Diaper)            0.500000  ...  1.000000        1.0    1.000000
15     (Milk, Beer)       (Diaper)            0.333333  ...  0.666667        1.0    0.833333
14   (Diaper, Milk)         (Beer)            0.333333  ...  0.666667        1.0    0.833333
1            (Milk)        (Bread)            0.666667  ...  0.500000       -0.5    0.675000
12           (Beer)        (Bread)            0.500000  ...  0.333333       -1.0    0.533333
13   (Diaper, Beer)         (Milk)            0.500000  ...  0.400000        0.0    0.583333
22         (Diaper)  (Bread, Beer)            0.500000  ...  0.666667        0.5    0.833333

[10 rows x 14 columns]

In [14]:
top_10_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].round(2)

        antecedents    consequents  support  confidence  lift
20    (Bread, Beer)       (Diaper)     0.33        1.00   2.0
19  (Bread, Diaper)         (Beer)     0.33        1.00   2.0
8          (Diaper)         (Beer)     0.50        1.00   2.0
9            (Beer)       (Diaper)     0.50        1.00   2.0
15     (Milk, Beer)       (Diaper)     0.33        1.00   2.0
14   (Diaper, Milk)         (Beer)     0.33        1.00   2.0
1            (Milk)        (Bread)     0.50        0.75   0.9
12           (Beer)        (Bread)     0.33        0.67   0.8
13   (Diaper, Beer)         (Milk)     0.33        0.67   1.0
22         (Diaper)  (Bread, Beer)     0.33        0.67   2.0